@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Jost", sans-serif;
}

::-webkit-scrollbar {
  width: 0;
}

.container {
  width: 700px;
  height: auto;
  background: #F7F7F7;
  padding: 10px;
  border-radius: 6px;
}

.container header {
  width: 100%;
  height: auto;
  padding: 10px;
  background: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 2px dashed #24242A;
  border-radius: 6px;
  margin-bottom: 10px;
}

.upload-label {
  font-size: 1.6rem;
  color: #F7F7F7;
  cursor: pointer;
  padding: 8px;
  border-radius: 10px;
  background: #24242A;
}

.upload-icon {
  font-size: 2rem;
  color: #30323E;
  cursor: pointer;
}

.container .content {
  width: 100%;
  height: auto;
  padding: 10px;
  background: #FFFFFF;
}

.container .content #title {
  width: 100%;
  padding: 10px;
  color: #FFFFFF;
  font-size: 1.6rem;
  background: #2D2E36;
  border-radius: 6px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container .content #title .dots-container {
  display: none;
  align-items: center;
  justify-content: flex-end;
  height: 100%;
  width: 100%;
}

.container .content #title .dot {
  height: 10px;
  width: 10px;
  margin-right: 10px;
  border-radius: 10px;
  background-color: #b3d4fc;
  animation: pulse 1.5s infinite ease-in-out;
}

.container .content #title .dot:last-child {
  margin-right: 0;
}

.container .content #title .dot:nth-child(1) {
  animation-delay: -0.3s;
}

.container .content #title .dot:nth-child(2) {
  animation-delay: -0.1s;
}

.container .content #title .dot:nth-child(3) {
  animation-delay: 0.1s;
}

@keyframes pulse {
  0% {
    transform: scale(0.8);
    background: #DADBE3;
    box-shadow: 0 0 0 0 rgba(54, 55, 56, 0.7);
  }

  50% {
    transform: scale(1.2);
    background: #F7F7F7;
    box-shadow: 0 0 0 10px rgba(178, 212, 252, 0);
  }

  100% {
    transform: scale(0.8);
    background: #DADBE3;
    box-shadow: 0 0 0 0 rgba(54, 55, 56, 0.7);
  }
}

.container .content #title .buttons-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 10px;
  gap: 10px;
}

.container .content #title .buttons-container .copy {
  box-sizing: border-box;
  width: var(--button-diameter);
  height: var(--button-diameter);
  border-radius: var(--button-border-radius);
  background-color: var(--button-bg);
  color: var(--button-text-color);
  border: none;
  cursor: pointer;
  position: relative;
  outline: none;
}

.container .content #title .buttons-container .tooltip {
  position: absolute;
  opacity: 0;
  visibility: 0;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
  font: var(--tooltip-font-size) var(--tooltip-font-family);
  color: var(--tootip-text-color);
  background: var(--tooltip-bg);
  padding: var(--tooltip-padding-y) var(--tooltip-padding-x);
  border-radius: var(--toolptip-border-radius);
  pointer-events: none;
  transition: all var(--tooltip-transition-duration) cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.container .content #title .buttons-container .tooltip::before {
  content: attr(data-text-initial);
}

.container .content #title .buttons-container .tooltip::after {
  content: "";
  position: absolute;
  bottom: calc(var(--tooltip-padding-y) / 2 * -1);
  width: var(--tooltip-padding-y);
  height: var(--tooltip-padding-y);
  background: inherit;
  left: 50%;
  transform: translateX(-50%) rotate(45deg);
  z-index: -999;
  pointer-events: none;
}

.container .content #title .buttons-container .copy svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.container .content #title .buttons-container .checkmark {
  display: none;
}

.container .content #title .buttons-container .copy:hover .tooltip,
.copy:focus:not(:focus-visible) .tooltip {
  opacity: 1;
  visibility: visible;
  top: calc((100% + var(--tooltip-offset)) * -1);
}

.container .content #title .buttons-container .copy:focus:not(:focus-visible) .tooltip::before {
  content: attr(data-text-end);
}

.container .content #title .buttons-container .copy:focus:not(:focus-visible) .clipboard {
  display: none;
}

.container .content #title .buttons-container .copy:focus:not(:focus-visible) .checkmark {
  display: block;
}

.container .content #title .buttons-container .copy:hover,
.copy:focus {
  background-color: var(--button-hover-bg);
}

.container .content #title .buttons-container .copy:active {
  outline: var(--button-outline-width) solid var(--button-outline-color);
}

.container .content #title .buttons-container .copy:hover svg {
  color: var(--button-hover-text-color);
}

.container .content #title .buttons-container .button {
  position: relative;
  box-sizing: border-box;
  width: var(--button-diameter);
  height: var(--button-diameter);
  border-radius: var(--button-border-radius);
  background-color: var(--button-bg);
  color: var(--button-text-color);
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(44, 44, 44);
  border-radius: 50%;
  cursor: pointer;
  transition-duration: .3s;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.13);
  border: none;
}

.container .content #title .buttons-container .audio {
  width: 18px;
}

.container .content #title .buttons-container .audio path {
  fill: white;
}

.container .content #title .buttons-container .button:hover {
  background-color: rgb(56, 56, 56);
}

.container .content #title .buttons-container .button:active {
  transform: scale(0.8);
}

.container .content #tss-playAudio {
  width: 100%;
  padding: 10px;
  color: #FFFFFF;
  font-size: 1.6rem;
  background: #2D2E36;
  border-radius: 6px;
  margin-bottom: 10px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.container .content #content-summary {
  width: 100%;
  max-height: 300px;
  overflow-y: auto;
  padding: 10px;
  background: #2D2E36;
  color: #FFFFFF;
  border-radius: 6px;
}

.container .content #content-summary::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

.container .content #content-summary::-webkit-scrollbar-thumb {
  background: #e1e1e1;
  border: 0px none #FFFFFF;
  border-radius: 8px;
}

.container .content #content-summary::-webkit-scrollbar-thumb:hover {
  background: #FFFFFF;
}

.container .content #content-summary::-webkit-scrollbar-thumb:active {
  background: #FFFFFF;
}

.container .content #content-summary::-webkit-scrollbar-corner {
  background: transparent;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #DADBE3;
  height: 100vh;
}